*.o
*.d
*.i
*.s
*.swp
bake-config.h
autom4te.cache/
config.log
config.status
Makefile
Makefile.in
bake-config.h.in
bake-config.h.in~
configure
cscope.files
aclocal.m4
Makefile.in
compile
config.guess
config.sub
depcomp
install-sh
missing
test-driver
